body {
    text-align: center;
}
table {
    align-items: center;
    margin: auto;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}
td {
    border-width: 1px ;
    border-color: black;
    border-style: solid;
}
#nav {
    text-align: left;
}