body {
    font-family: Arial, Helvetica, sans-serif;
}
header{
    text-align: center;
}
nav {
    text-align: left;
}
button {
    text-decoration: none;
    color: black;
    background-color: white;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
}
#selected{
    font-weight: bolder;
    margin: 5px;
    padding: 5px;
}