body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    text-align: left;
}
button {
    text-decoration: none;
    color: black;
    background-color: white;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
}
#selected{
    font-weight: bolder;
    margin: 5px;
    padding: 5px;
}
table {
     text-align: left;
     margin: auto;
}
th {
    text-align: center;
}
td {
    border-width: 1px ;
    border-color: black;
    border-style: solid;
}